package pages

import (
    "github.com/isjulianj/3minuteapp/cmd/ui/components"
)

templ Home() {
        @component.Document("hi there", "this is a description"){
        <div class="prose font-sans">
            <h1 class="text-xl font-bold">Hello World</h1>
        </div>
    }
}